<div class="sec-home py-5 my-5">
  <div class="text text-center align-item-center py-5 my-5">
    <h1>CONTACT SECTION</h1>
    <P>Graphic Artist - Web Designer - Illustrator</P>
  </div>
  <form class="text-secondary">
    <div class="form-group mt-3">
      <label for="usr">userName:</label>
      <input type="text" class="form-control justify-content-center" id="usr">
    </div>
    <div class="form-group mt-3">
      <label for="usr">userAge:</label>
      <input type="number" class="form-control justify-content-center" id="usr">
    </div>
    <div class="form-group mt-3">
      <label for="usr">userEmail:</label>
      <input type="email" class="form-control justify-content-center" id="usr">
    </div>
    <div class="form-group mt-3">
      <label for="pwd">userPassword:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
  </form>
  <button type="button" class="btn btn-success mt-3">Send message</button>
</div>
<div class="details text-white py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <h2>LOCATION</h2>
        <p>2215 John Daniel Drive</p>
      </div>
      <div class="col-md-4">
        <h2>AROUND THE WEB</h2>
        <p>2215 John Daniel Drive</p>
      </div>
      <div class="col-md-4">
        <h2>ABOUT FREE LANCER</h2>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
    </div>
  </div>
</div>
<div class="footer bg-dark text-light p-3">
  <p class="text-center">Copyright © Your Website 2021</p>
</div>
